<router-outlet></router-outlet>
<div class="row" style="margin-top:30px;">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ejemplo</th>
                    <th scope="col">Definición</th>
                    <th scope="col">Accion</th>
                    <th scope="col">Elemento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>ngClass</td>
                    <td style="max-width: 250px;">
                        <p>permite establecer una o más clases a un elemento HTML. Una alternativa más útil es definir un objeto literal cuyas claves son nombres de clases y sus valores un valor boolean que indica si se debe activar o no la clase al elemento
                            HTML
                        </p>
                    </td>
                    <td><button (click)="cambiarClss()">Cambiar clase</button></td>
                    <td>
                        <p [ngClass]="{'morado': flag, 'green': !flag}">
                            PCA-Angular
                        </p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ngStyle</td>
                    <td style="max-width: 250px;">
                        <p>Esta directiva nos permite añadir propiedades de CSS dinámicamente. Es decir, un margin, padding, color, etc.</p>
                    </td>
                    <td><button (click)="getColor()">Cambiar Stylo</button></td>
                    <td>
                        <p [ngStyle]="{backgroundColor: getColor()}">
                            Ejemplo [ngStyle] PCA
                        </p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ngSwitch</td>
                    <td style="max-width: 250px;">
                        <p>Para hacer que NgSwitch funcione, declare la directiva estructural NgSwitch en el elemento HTML principal. Dentro del contenedor NgSwitch, defina la declaración * ngSwitchCase , la *ngSwitchCasedeclaración se refiere a una de las
                            posibilidades del árbol de múltiples posibilidades.</p>
                    </td>
                    <td></td>
                    <td>
                        <ul [ngSwitch]="superhero">
                            <li *ngSwitchCase="'Groot'">Groot</li>
                            <li *ngSwitchCase="'Ironman'">Ironman</li>
                            <li *ngSwitchCase="'Hulk'">Hulk</li>
                            <li *ngSwitchCase="'Thor'">Thor</li>
                            <li *ngSwitchCase="'Spiderman'">Spiderman</li>
                            <li *ngSwitchDefault>Batman</li>
                        </ul>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>


</div>